<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato"
    />
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="/static/script.js" defer></script>
  </head>
  <body class="body">
    <header>
      <div class="user-welcome">
        <p>Welcome, {{ user_email }}!</p>
        <p>Active Session</p>

        <div class="url">
          <!-- Home Button -->
          <form class="home-box" action="{{ url_for('home') }}" method="POST">
            <button class="logout" type="submit">Home</button>
          </form>

          <!-- Logout Button -->
          <form
            class="logout-box"
            action="{{ url_for('logout') }}"
            method="POST"
          >
            <button class="logout" type="submit">Logout</button>
          </form>
        </div>
      </div>
      <div class="navbar">
        <div class="navbar-brand">
          <img
            src="\static\ficticious-logo.png"
            alt="Ficticious-logo"
            class="logo"
          />
          <h1 class="company-title">FICTICIOUS ORG</h1>
        </div>
        <ul class="navbar-navigation">
          <li class="navbar-navigation-items">
            <a
              href="https://en.wikipedia.org/wiki/Technical_support"
              class="navbar-link"
              target="_blank"
              rel="noopener noreferrer"
              >Wikipedia</a
            >
          </li>
          <li class="navbar-navigation-items">
            <a
              href="https://www.timeanddate.com/calendar/"
              class="navbar-link"
              target="_blank"
              rel="noopener noreferrer"
              >Learning Calendar</a
            >
          </li>
        </ul>
      </div>
    </header>
    <main class="main">
      <h1 class="main_title">Blog Entry</h1>
      <section>
        <form class="form" method="POST">
          <p class="form-input">
            <label for="title" class="form-label">Title:</label>
            <textarea class="title-textarea" name="title" id="title">
{{ title }}</textarea
            >
          </p>

          <!-- <input type="text" name="Sample" id="sample-field" /> -->
          <p class="form-input">
            <label for="content" class="form-label">Content:</label>
            <textarea class="content-textarea" name="content" id="content">
{{ content }}</textarea
            >
          </p>

          <input
            type="hidden"
            name="generate_content"
            id="generate_content"
            value=""
          />

          <button
            type="button"
            class="generate-button"
            onclick="document.getElementById('generate_content').value='true'; this.form.submit();"
          >
            Generate Content
          </button>
          <!-- <input type="text" name="Sample" id="sample-field" /> -->
          <button
            type="submit"
            class="form-submit"
            onclick="document.getElementById('generate_content').value='';"
          >
            Submit
          </button>
        </form>
      </section>
      <section class="recent-posts">
        <h1>Recent Posts</h1>
        {% for entry in entries %}
        <article class="entry">
          <div>
            <h2 class="entry-title">
              <a href="{{ url_for('post', post_id=entry[4]) }}"
                >{{ entry[0] }}</a
              >
            </h2>
            <time class="entry-date" datetime="date">{{ entry[3] }}</time>
          </div>
          <p class="entry-email">by {{ entry[2] }}</p>
        </article>
        {% endfor %}
      </section>
    </main>
    <footer class="footer">
      <div class="footer-content">
        <section class="left">
          <a class="footer-item" href="#">Made by Saurabh Varadkar</a>
          <a class="footer-item" href="#">Check out my other projects</a>
        </section>
        <section class="right">
          <div class="footer-column">
            <a class="footer-item" href="#">Recent</a>
            <a class="footer-item" href="#">Calendar</a>
          </div>
          <div class="footer-column">
            <a class="footer-item" href="#">About</a>
            <a class="footer-item" href="#">How this was made</a>
          </div>
        </section>
      </div>
    </footer>
  </body>
</html>
